@{
    ViewBag.Title = "Files";
}

@{Html.RenderPartial("~/Views/Shared/_Errors.cshtml");}

<h2 class="display-6 fw-bold my-4">List of Files</h2>

<div class="table-responsive mb-5">
    <table class="table table-borderless table-hover">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Size</th>
                <th scope="col" class="text-center text-muted">Download</th>
                <th scope="col" class="text-center text-muted">Delete</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var File in ViewBag.Files)
            {
                <tr class="align-middle">
                    <td>@File.Id</td>
                    <td>@File.Name</td>
                    <td class="text-nowrap">@File.FileSize B</td>
                    <td class="text-center">
                        @using (Html.BeginForm("Download", "Files", FormMethod.Post))
                        {
                            <input type="hidden" name="name" value="@File.Name" />
                            <button id="download" class="btn btn-light text-success px-5" title="Download File">
                                <i class="fa-solid fa-download"></i>
                            </button>
                        }
                    </td>
                    <td class="text-center">
                        @using (Html.BeginForm("Delete", "Files", FormMethod.Post))
                        {
                            <input type="hidden" name="name" value="@File.Name" />
                            <button id="delete" class="btn btn-light text-danger px-4" title="Delete File">
                                <i class="fa-solid fa-trash"></i>
                            </button>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

